
body {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;

}

body > div > div > div.login-form {
  color: black;
  height: 100%;
}

.login-header {
  font-family: serif;
  color: black
}
.ui.menu .item {
  font-weight: 800;
}
.ui.progress:last-child {
  margin:0 0 0.5em;
}

.ui.progress .bar>.progress {
  right: auto;
}

.modalList {
  display: flex;
  flex-direction: row;
}

.modalList > * {
  flex-grow: 1;
}